

h1 {
  color: var(--title);
  font-family: var(--font_title);
  font-weight: 700;
  font-size: 85px;
}

.input {
  background-color: #f8f9fa;
  border-radius: 20px;
  border-color: transparent;
}

.count {
  border-radius: 20%;
  background-color: #e07a5f;
}


.textimg {
  font-size: 16px;
  color: #333;
  margin-top: 0;
  padding: 0%;
}
.logbutton {
  align-items: center;
}

.logbutton :active {
  color: #e07a5f;

}

#phrase {
  margin-bottom: 0;
}
 
#not {
  background-color: #e07a5f;
  color: black;
  font-size: medium;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
}

.dog-login {
  min-width: 380px;
  
}