.contact-us {
  background-color: var(--background_page);
  font-family: var(--font_text);
  background-image: url(./images/background-contact.png);
  max-width: 1920px;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    font-family: var(--font_subtitle);
    color: var(--subtitle);
  }

  .contact_form {
    background-color: var(--block-images2);
  }

  .button {
    background-color: var(--block-images1);
  }

  .input_height {
    min-height: 150px;
  }

  .container__input {
    max-width: 920px;
    margin: auto;
  }
}

.button-submit_disabled {
  border: 1px solid #c4c4c4;
  background-color: transparent;
  color: #c4c4c4;
  cursor: none;
}

.input-error_active {
  opacity: 1;
}

.input_type-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}
