/*Está cargada la fuente principal y el background general de la página*/
* {
  font-family: var(--font_text);
  max-width: 1920px;
}

body {
  background-color: var(--background_page);
}

/*Se utiliza la pseudo-clase :root para añadir propiedades a utilizar en todo el css
Recuerden que para llamarlas en el valor de la propiedad es: var(nombre de la propiedad en root); */
/*Los estilos de las fuentes le pueden cambiar el font-weight de acuerdo a como está en figma*/
:root {
  --title: #81b29a;
  --subtitle: #3d405b;
  --block-images1: #e07a5f;
  --block-images2: #f2cc8f;
  --background_page: #f6f1dd;
  --font_title: "Baloo Thambi 2", serif;
  --font_subtitle: "Fira Sans Condensed", serif;
  --font_text: "Hind Guntur", serif;
}

.navegacion {
  max-width: 1390px;
  background-color: white;
  border-radius: 40px;
  margin: auto;

  #icon-user {
    max-width: 25px;
    object-fit: contain;
    margin-right: 10px;
  }
}
/* Header general con todos sus selectores */
header {
  background-size: 1920px;
  background-image: url(/public/images/header-shapes.png);

  .input {
    background-color: #f8f9fa;
    border-radius: 20px;
    border-color: transparent;
  }

  .boton-buscar {
    background-color: #f8f9fa;
    border-radius: 20px;
  }

  h1 {
    color: var(--title);
    font-family: var(--font_title);
    font-weight: 700;
    font-size: 85px;
  }

  .li-item {
    min-width: 120px;
  }

  .button-user {
    background-color: none;
    border: none;
  }
}

#botonCompra {
  font-family: var(--title);
  font-size: 20px;
  color: white;
  background-color: var(--block-images1);
  border: var(--block-images1);
  border-radius: 12px;
  height: 60px;
  width: 153px;
}

.bg {
  background-color: var(--background_page);
}

#terms {
  color: var(--title);
  font-family: var(--font_title);
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

#terminos {
  font-family: var(--font_text);
  color: black;
  font-size: 17px;
  border: 22px;
  margin: 21px;
}
.container_terms {
  border: 22px;
  margin: 21px;
}
#conditions {
  font-family: var(--font_subtitle);
  font-size: 22px;
}

#dog {
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.daycare {
  width: 100%;
  height: 250px;
  margin: 40px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background-color: #e07a5f;
  padding-block: 30px;

  a {
    text-decoration: none;
    color: black;
  }

  .metodos-pago {
    width: 30px;
    padding-top: 60px;
    margin-right: 15px;
  }

  .redes-sociales {
    width: 20px;
    cursor: pointer;
  }
}

.login {
  color: var(--title);
  font-family: var(--font_title);
  font-weight: 700;
  font-size: 85px;
}
