/*Est치 cargada la fuente principal y el background general de la p치gina*/
* {
  font-family: var(--font_text);
  max-width: 1920px;
}

/*Se utiliza la pseudo-clase :root para a침adir propiedades a utilizar en todo el css
Recuerden que para llamarlas en el valor de la propiedad es: var(nombre de la propiedad en root); */
/*Los estilos de las fuentes le pueden cambiar el font-weight de acuerdo a como est치 en figma*/
:root {
  --title: #81b29a;
  --subtitle: #3d405b;
  --block-images1: #e07a5f;
  --block-images2: #f2cc8f;
  --background_page: #f6f1dd;
  --font_title: "Baloo Thambi 2", serif;
  --font_subtitle: "Fira Sans Condensed", serif;
  --font_text: "Hind Guntur", serif;
}

/* Header general con todos sus selectores */
header {
  background-size: 1920px;
  background-image: url(/public/images/header-shapes.png);

  .navegacion {
    max-width: 1290px;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    padding: 10px 10px;
  }

  .input {
    background-color: #f8f9fa;
    border-radius: 20px;
    border-color: transparent;
  }

  .boton-buscar {
    background-color: #f8f9fa;
    border-radius: 20px;
  }

  h1 {
    color: var(--title);
    font-family: var(--font_title);
    font-weight: 700;
    font-size: 85px;
  }

  .li-item {
    min-width: 120px;
  }
}

#botonCompra {
  font-family: var(--title);
  font-size: 20px;
  color: white;
  background-color: var(--block-images1);
  border: var(--block-images1);
  border-radius: 12px;
  height: 60px;
  width: 153px;
}

#terms {
  color: var(--title);
  font-family: var(--font_title);
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

#terminos {
  font-family: var(--font_text);
  color: black;
  font-size: 17px;
  border: 22px;
  margin: 21px;
}
.container_terms {
  border: 22px;
  margin: 21px;
}
#conditions {
  font-family: var(--font_subtitle);
  font-size: 22px;
}

#dog {
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
