.franja {
  background-color: var(--block-images1);
  width: auto;
  height: 88px;
}

body {
  max-width: 1920px;
}

main {
  #filtro {
    background-color: var(--block-images1);
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;

    h2 {
      color: var(--subtitle);
      text-align: start;
      font-size: larger;
      font-family: var(--font_subtitle);
    }

    .form-check-input {
      background-color: var(--block-images1);
    }

    .form-check-label {
      font-family: var(--font_text);
      font-size: medium;
    }

    .list-group {
      text-align: start;
    }

    div.card {
      background-color: var(--background_page);
      margin: 0;
      border-radius: 20px;
      padding: 0;
    }

    p.card-text {
      margin: 0;
    }

    img.card-img-top {
      height: 350px;
    }
  }

  .conteiner {
    padding-left: 5rem;
  }
}

.petSelection {
  .animal {
    /* cartas animales */

    max-width: 202px;
    height: 290px;
    background-color: #f2cc8f;
    margin-bottom: 0px;
  }

  .carrusel-btn {
    background-color: #f2cc8f;
    border: 0;
  }

  h5 {
    margin: 0;
  }

  .img-pets {
    max-width: 250px;
    height: 255px;
    border-radius: 45%;
    margin-bottom: 0;
  }

  .card-body {
    margin-top: 0%;
    max-width: 250px;
    height: 30px;
    margin-bottom: 0px;
  }

  .carouselAnimals {
    /* Contenedor del carrusel de categoria de mascotas */
    background-color: #f2cc8f;
    height: 380px;
    max-width: 1000px;
    /*     min-width: 700px; */
    border-radius: 5cap;
  }

  .titulo {
    color: #81b29a;
  }

  .button-next-before {
    background-color: #e07a5f;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

a {
  color: black;
}

.carruselMasPopulares {
  #mostPopularContainer {
    background-color: var(--block-images2);
    border-radius: 20px;
  }

  .card {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f4f1de, #f4f1de);
    color: white;
    margin-bottom: 15px;
  }

  .card img {
    height: 100%;
    object-fit: contain;
  }

  #tituloCarrusel {
    font-family: var(--font_subtitle);
    color: var(--subtitle);
    font-weight: 550;
    font-size: 55px;
  }

  .envolventeBoton {
    align-self: center;
    background-color: var(--block-images1);
    width: 80px;
    height: 80px;
  }
}

.row-seccion-cards {
  background-color: #f6f1dd;
  justify-content: space-between;
}

.resultados {
  text-align: start;
  margin-top: 20px;
}

/* Seccion de cards */

#image {
  border-radius: 4px;
  background-color:rgb(255, 255, 255);
  height: 210px; 
  
  /* height: 10rem; */
}
#product-card{
  width: 16rem;
  margin-top: 3;
  margin-bottom: 3;
  /* height: 45rem; */
  /* height: 232px; */
  color: black;
 background-color: #f2cc8f;
}

.card #body{
 /*  background-color: #8ff0f2; */
  border-radius: 4px;
  
  
  
}

#image:hover {
  transform: scale(1.03);
  cursor: pointer;
  
}
.card #description{
  min-height: 10rem;
  /* height: 1rem; */
margin: 0;
  /* background-color: #f2cc8f; */
  border-radius: 20%;
}
.card #precio {
  border: 0;
  margin-top: 5px;
  margin-bottom: 5 px;
  color: black;
  /* background-color: #f2cc8f; */
  height: 1rem;
}

a {
  cursor: pointer;
}

@media (max-width: 575px) {
  .row-seccion-cards {
    background-color: #f6f1dd;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 350px;
    background-color: #f6f1dd;
    border: none;
  }

  #image {
    height: 280px;
    width: 14rem;
    border-radius: 15px;
  }

  .card p {
    width: 200px;
    height: 80px;
  }

/*   .card-body {
    background-color: #8ff2a6;
  } */

  .resultados {
    margin-left: 50px;
  }
}

/* Seccion de mobile header */
.mobileHeader {
  background-image: url(/public-images/Vector_Header_Mobile.png);
  .postalCode {
    background-color: var(--block-images2);
    font-size: 10px;
  }
  p {
    color: #6c757d;
  }
  .title {
    background-color: var(--block-images2);
  }
  h2 {
    font-family: var(--font_title);
    color: var(--title);
    font-size: 35px;
    font-weight: bolder;
  }
  .ads {
    background-color: var(--block-images2);
  }
  #shape2 {
    width: 20px;
    height: 20px;
  }
  #mapPin {
    width: 15px;
    height: 15px;
  }
  button {
    background-color: var(--block-images1);
    color: white;
  }
  .collapseContainer{
    background-color: var(--block-images2);
  }

}

.modal-header {
  background-color: #f4f1de;
}

.modal-btn {
  background-color: #e07a5f;
  border: 0;
}

.mas-menos {
  border-radius: 50%;
}

.modal-body {
  background-color: #f2cc8f;
}

.modal-img {
  border-radius: 30%;
  height: 30%;
}

.modal-footer {
  background-color: #f4f1de;

  .btn {
    background-color: #f2cc8f;
  }
}

.wrapperButtonMobilePet {
  button {
    background-color: var(--block-images2);
    color: var(--subtitle);
    border: 2px solid var(--block-images1);
    border-radius: 20px;
  }
  h5 {
    font-weight: 700;
  }
}




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  color: #ccc;
}

