
#coupon-section {
    margin: 15px 0;
}

#coupon-section input {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
}

#coupon-section button {
    padding: 8px 15px;
    cursor: pointer;
}

#coupon-message {
    font-size: 0.9rem;
    color: orange;
    margin-top: 10px;
}

#payment-method-section {
    margin: 20px 0;
}

#payment-method-section input {
    margin-right: 10px;
}
#productos-container{
    width: 50%;
    margin: 20px;
    background-color:white;
}

.tarjeta-producto{
    display: flex;/*uno al lado del otro*/
    gap: 20px;/*para separar los elementos*/
    align-items: center;
   padding: 10px;
    }
.tarjeta-producto img{
    height: 100px;
    aspect-ratio: 1,5;
}
.tarjeta-producto h5{
width: 130px;
}

    
/*borrar*/
.btn-delete { 
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}
/*flechas*/
.counter-container {
    padding: 70px 5px 10px 70px;
writing-mode: horizontal-tb;
direction: rtl;

}

/*precio*/
.price-btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 70px 5px 10px 30px; 
}

.card-title{
    padding: 70px 5px 10px; 
}

#imgcarrito {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border-color: var(-- block-images1);
    box-shadow: 0 4px 8px;;
    transition: transform 0.3s ease;
    cursor: url('/public-images/huellas-cursor.png'), auto;
}

.d-flex .btn-outline-light {
    border: none;
    background-color: transparent;
    padding: 0;
}


#h2 {
    font-size: 30px;
    color: var(--subtitle);
}